{% block field %}
	<div class="form-field {{ field.classes|default('') }}">
		<div class="form-data">
			<gravcms-hax
				body-offset-left="{{ bodyOffsetLeft }}"
				field-name="{{ (scope ~ field.name)|fieldName }}"
				edit-mode
				class="hax-editor"
			>
			{{ autoloadedGizmos|raw }}
			{{ value|raw }}
		  </gravcms>
		</div>
	</div>
{% endblock %}
